# -*- coding: utf-8 -*-

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */

    background-image: url("salle.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.card {
    width: 700px;
    max-width: 90%;
    padding: 30px;

    background: rgba(255, 255, 255, 0.85);

    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);

    text-align: center;
}

.btn{

display:inline-block;

margin-top:20px;

padding:15px 30px;

background:#0d6efd;

color:white;

text-decoration:none;

border-radius:10px;

font-size:20px;

}